@import "variables", "mixin";

.bookmark {
  height: 80%;
  width: 100px;
  display: flex;
  justify-content: flex-end;

  &__icon-wrapper {
    cursor: pointer;
    overflow: hidden;
    height: 30px;
    width: 26px;
    background: url("../../components/PostList/Post/Bookmarks/sprite-bookmark.png") no-repeat;
  }
}