@import "variables", "mixin";

.header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid $borders;
  background-color: white;
  position: fixed;
  top: 0;

  &__container {
    margin: auto;
    max-width: 950px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
