@import "variables", "mixin";

.left-links {
  display: flex;
  width: 175px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  perspective: 50px;
  transform-style: preserve-3d;

  &__link {
    @include focus;
    text-decoration: none;
    transition: transform 0.5s;

    &--photo:hover {
      text-decoration: none;
      transform: rotate(45deg);
    }

    &--insta {
      align-self: flex-end;

      &:hover {
        transform: rotateY(5deg);
      }
    }
  }

  &__vertical-line {
    height: 30px;
    width: 1.5px;
    background-color: #555555;
  }
}