@import "variables", "mixin";

.like {
  height: 80%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;

  &__icon-wrapper {
    cursor: pointer;
    overflow: hidden;
    height: 26px;
    width: 26px;
    background: url("../../components/PostList/Post/Likes/sprite-like.png") no-repeat;
  }

  &__number {
    @include focus;
    font-weight: 600;
    color: $icons;
    font-size: 14px;

    &:hover {
      color: $hover;
      text-decoration: none;
    }
  }
}
