@import "variables", "mixin";

.button {
  @include focus;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  transition: transform 0.5s;
  user-select: none;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &__content {
    height: 260px;
    width: 400px;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    border-radius: 13px;
    overflow: hidden;
    user-select: none;
  }

  &__button {
    border: none;
    border-bottom: 1px solid $borders;
    color: $icons;
    font-size: 13px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: darken(white, 5%);
    }

    &:focus {
      outline: none;
    }
  }

}