@import "variables", "mixin";

.post {
  background-color: white;
  border: 1px solid $borders;
  width: 65%;

  &__user {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }

  &__avatar-wrapper {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 16px;
    padding: 2px;
    background: linear-gradient(-130deg, $pink, $orange);
  }

  &__avatar-link {
    @include focus;
    display: block;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 30%;
  }

  &__avatar {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    user-select: none;
    height: 100%;
    width: 100%;

    &:hover {
      box-shadow: 0 0 8px 0 $red;
    }
  }

  &__login-link {
    @include focus;
    color: $icons;
    font-weight: 600;
    font-size: 14px;

    &:hover {
      text-decoration: none;
      color: $hover;
    }
  }

  &__photo {
    width: 100%;
    height: auto;
    user-select: none;
  }

  &__bilge {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__likes-bookmarks-wrapper {
    height: 70px;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__temporary-wrapper {
    height: 50px;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__date {
    color: $icons;
    font-size: 10px;
    font-weight: 500;
  }

}