@import "variables", "mixin";

.right-links {
  display: flex;
  width: 150px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &__link {
    @include focus;
    text-decoration: none;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    &--user {
      width: 28px;
      height: 28px;
    }
  }
}