@import "variables", "mixin";

.search {
  position: relative;

  &__field {
    @include focus;
    border: 1px solid $borders;
    border-radius: 3px;
    padding-left: 30px;
    color: $icons;
    background-color: $back;

    &::placeholder {
      color: $grey;
    }
  }

  &__icon {
    width: 15px;
    display: inline-block;
    position: absolute;
    top: 2px;
    margin: 0;
    left: 5px;
    cursor: pointer;
  }

  .fa-search {
    color: $grey;
  }

}

