@import "variables";

html {
  overflow: auto;
  background: $back;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body *::selection {
  background-color: black;
  color: white;
}

#root {
  height: 100%;
  background: $back;
  padding: 140px 0 100px 0;
}

@import "header", "leftlinks", "rightlinks", "search", "postlist", "post", "likes", "bookmarks", "menu", "profile",
"notfound";