html {
  overflow: auto;
  background: #fafafa;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body *::selection {
  background-color: black;
  color: white;
}

#root {
  height: 100%;
  background: #fafafa;
  padding: 140px 0 100px 0;
}

.header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
  position: fixed;
  top: 0;
}
.header__container {
  margin: auto;
  max-width: 950px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-links {
  display: flex;
  width: 175px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  perspective: 50px;
  transform-style: preserve-3d;
}
.left-links__link {
  text-decoration: none;
  transition: transform 0.5s;
}
.left-links__link:focus {
  outline: auto #262626;
}
.left-links__link--photo:hover {
  text-decoration: none;
  transform: rotate(45deg);
}
.left-links__link--insta {
  align-self: flex-end;
}
.left-links__link--insta:hover {
  transform: rotateY(5deg);
}
.left-links__vertical-line {
  height: 30px;
  width: 1.5px;
  background-color: #555555;
}

.right-links {
  display: flex;
  width: 150px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.right-links__link {
  text-decoration: none;
  transition: transform 0.5s;
}
.right-links__link:focus {
  outline: auto #262626;
}
.right-links__link:hover {
  transform: scale(1.1, 1.1);
}
.right-links__icon {
  width: 24px;
  height: 24px;
}
.right-links__icon--user {
  width: 28px;
  height: 28px;
}

.search {
  position: relative;
}
.search__field {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding-left: 30px;
  color: #262626;
  background-color: #fafafa;
}
.search__field:focus {
  outline: auto #262626;
}
.search__field::placeholder {
  color: #c7c7c7;
}
.search__icon {
  width: 15px;
  display: inline-block;
  position: absolute;
  top: 2px;
  margin: 0;
  left: 5px;
  cursor: pointer;
}
.search .fa-search {
  color: #c7c7c7;
}

.postlist {
  max-width: 950px;
  margin: auto;
}

.post {
  background-color: white;
  border: 1px solid #e6e6e6;
  width: 65%;
}
.post__user {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.post__avatar-wrapper {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 16px;
  padding: 2px;
  background: linear-gradient(-130deg, #c62d8f, #f99747);
}
.post__avatar-link {
  display: block;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 30%;
}
.post__avatar-link:focus {
  outline: auto #262626;
}
.post__avatar {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  user-select: none;
  height: 100%;
  width: 100%;
}
.post__avatar:hover {
  box-shadow: 0 0 8px 0 #ec1f48;
}
.post__login-link {
  color: #262626;
  font-weight: 600;
  font-size: 14px;
}
.post__login-link:focus {
  outline: auto #262626;
}
.post__login-link:hover {
  text-decoration: none;
  color: #595959;
}
.post__photo {
  width: 100%;
  height: auto;
  user-select: none;
}
.post__bilge {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post__likes-bookmarks-wrapper {
  height: 70px;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.post__temporary-wrapper {
  height: 50px;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.post__date {
  color: #262626;
  font-size: 10px;
  font-weight: 500;
}

.like {
  height: 80%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
}
.like__icon-wrapper {
  cursor: pointer;
  overflow: hidden;
  height: 26px;
  width: 26px;
  background: url("../../components/PostList/Post/Likes/sprite-like.png") no-repeat;
}
.like__number {
  font-weight: 600;
  color: #262626;
  font-size: 14px;
}
.like__number:focus {
  outline: auto #262626;
}
.like__number:hover {
  color: #595959;
  text-decoration: none;
}

.bookmark {
  height: 80%;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}
.bookmark__icon-wrapper {
  cursor: pointer;
  overflow: hidden;
  height: 30px;
  width: 26px;
  background: url("../../components/PostList/Post/Bookmarks/sprite-bookmark.png") no-repeat;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  transition: transform 0.5s;
  user-select: none;
}
.button:focus {
  outline: auto #262626;
}
.button:hover {
  transform: scale(1.2, 1.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__content {
  height: 260px;
  width: 400px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  border-radius: 13px;
  overflow: hidden;
  user-select: none;
}
.modal__button {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  color: #262626;
  font-size: 13px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}
.modal__button:hover {
  background-color: #f2f2f2;
}
.modal__button:focus {
  outline: none;
}

.profile {
  border: 1px solid black;
  max-width: 950px;
  margin: auto;
  height: 500px;
  background-color: black;
}

.error {
  color: #262626;
  font-size: 70px;
  text-align: center;
}

.not-found {
  font-size: 40px;
  color: #262626;
  text-align: center;
}

/*# sourceMappingURL=App.css.map */
